<!DOCTYPE html>
<html>
  <head>
    <title>Easy websites</title>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.4/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
  </head>
  <body>
    <form>
      <div class="form-group">
        <label>Adresse email</label>
        <input type="email" class="form-control" id="email" placeholder="Adresse email">
      </div>
      <div class="form-group">
        <label>Mot de passe</label>
        <input type="password" class="form-control" id="password" placeholder="Mot de passe">
      </div>
      <button type="submit" class="btn btn-default">S'inscrire</button>
    </form> 
  </body>
</html>
