<!DOCTYPE html>
<html>
  <head>
    <title>Easy websites</title>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.4/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
    <style>
      div.card {
        width: 800px;
        box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
        text-align: center;
        margin: auto;

      }

      div.header {
        background-color: #4CAF50;
        color: white;
        padding: 10px;
        font-size: 40px;
      }

      div.container {
        padding: 10px;
        width: 800px;
      }
    </style>
  </head>
  <body>
    {{ yield }}
  </body>
</html>
